.logoIcon {
  align-self: stretch;
  max-height: 100%;
  width: 141px;
  object-fit: cover;
}
.column,
.logoWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logoWrapper {
  width: 178px;
  height: 52px;
  flex-direction: row;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
}
.column {
  flex: 1;
  flex-direction: column;
}
.company,
.link {
  position: relative;
  line-height: 150%;
}
.company {
  align-self: stretch;
}
.link {
  display: inline-block;
  width: 178.67px;
}
.content,
.footerLinks {
  align-self: stretch;
  flex-direction: column;
}
.footerLinks {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.content {
  gap: var(--gap-base);
}
.columnParent,
.content,
.content1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.columnParent {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-xs);
}
.content1 {
  height: 145px;
  flex-direction: column;
  gap: var(--gap-base);
}
.link7,
.link8 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 129px;
}
.link8 {
  width: 92px;
}
.columns {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.text {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.copyright,
.footerModified {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.copyright {
  box-shadow: 0-1px 0#e4ebf3;
  width: 940px;
  flex-direction: row;
  padding: var(--padding-base) 0;
  justify-content: center;
  text-align: center;
  color: var(--color-darkslategray);
}
.footerModified {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-45xl) var(--padding-5xl) 0;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
@media screen and (max-width: 760px) {
  .columnParent {
    flex: unset;
    align-self: stretch;
  }
  .columns {
    flex-direction: column;
    gap: var(--gap-21xl);
  }
}
