@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;

  /* Colors */
  --color-gray: #212121;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-base: 16px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-base: 16px;
}
